.App {
  background: linear-gradient(135deg, #55CDFC, #F7A8B8, #FFFFFF, #F7A8B8, #55CDFC);
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 180px;
  pointer-events: none;
  margin: -40px auto -40px auto; /* Pulls elements closer */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start; /* Align everything closer to the left */
  padding: 10px 5%; /* Reduce padding */
  color: #1A1A2E;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .App-header {
    padding: 5px 5%; /* Reduce padding further */
    gap: 10px; /* Reduce space between text and logo */
  }

  .header-content {
    font-size: 16px; /* Adjust font size if needed */
    margin-right: 5px; /* Reduce space between text and logo */
  }

  .App-logo {
    height: 30vmin; /* Slightly smaller logo */
    margin: 0; /* Remove extra margins */
  }
}

.App-header p {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.App-link {
  color: #1A1A2E;
}

.App-footer {
  padding: 15px 0;
  text-align: center;
  color: #1A1A2E;
  font-size: 14px;
  position: relative; /* Keeps footer at the bottom without overlap */
  bottom: 0;
}

.credit-link {
  font-size: 12px;
  color: #1A1A2E(255, 255, 255, 0.7);
  text-decoration: none;
}

.credit-link:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map { 
  height: 200px; 
}
