.App {
  background: linear-gradient(135deg, #55CDFC, #F7A8B8, #FFFFFF, #F7A8B8, #55CDFC);
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 180px;
  pointer-events: none;
  margin: -40px auto -40px auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: start;
  padding: 25px 8%;
  color: #1A1A2E;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.header-content {
  max-width: 300px;
}

@media (min-width: 768px) {
  .App-header {
    padding: 5px 5%;
    gap: 10px;
  }

  .header-content {
    font-size: 16px;
    margin-right: 5px;
  }

  .App-logo {
    margin: 0;
  }
}

.App-header h1 {
  font-size: clamp(16px, 4vw, 28px);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.App-header p {
  font-size: clamp(12px, 2.5vw, 18px);
  line-height: 1.5;
  margin: 5px 0;
}

.App-link {
  color: #1A1A2E;
}

.App-footer {
  padding: 15px 0;
  text-align: center;
  color: #1A1A2E;
  font-size: 14px;
  position: relative;
  bottom: 0;
}

.credit-link {
  font-size: 14px;
  color: #1A1A2E(255, 255, 255, 0.7);
  text-decoration: none;
}

.credit-link:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#map {
  height: 200px;
}